@{
    Layout = "_Layout";
}
<div class="flex justify-between items-center border-b-3 border-[#112D4E] font-sans text-[#112D4E] ml-15 mr-15 mt-7">
    <h3 id="headerBusinessNumber" class="text-lg font-semibold"></h3>
    <h3 id="headerBusinessName" class="text-lg font-bold"></h3>
</div>
