@{
    Layout = "_Layout";
}

<div class="flex flex-col md:flex-row">

    @await Html.PartialAsync("~/Views/Partials/_SidebarAdmin.cshtml")

    <div class="flex-1">
        @await Html.PartialAsync("~/Views/Partials/_Header.cshtml")
        @await Html.PartialAsync("~/Views/Partials/_UserActivityPanel.cshtml")
    </div>

</div>

<!-- JS për komponentët -->
<script src="~/js/components/sidebar-admin.js"></script>
<script src="~/js/components/header.js"></script>
<script src="~/js/components/user-activity-panel.js"></script>
<script src="~/js/components/logout-modal.js"></script>
