@{
    ViewData["Title"] = "Home Page";
}
<section class="hero-section">
    <div class="hero-overlay"></div>
    <div class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Technology doesn’t have to feel like a different language</h1>
        <p class="hero-subtitle">Simplified inventory management to drive business growth and strategically scale  operations</p>
    </div>
    </div>
</section>
 <section class="wrapper">

    <div class="left-section">
      <!-- Order Management -->
      <div class="first_row">
        <div class="feature-item">
        <img src="~/assets/img.png" alt="IMAGES" />
        <div>
          <h3>Order Management</h3>
          <p>
            Efficiently manage all your sales and purchasing activities with our platform.  
            Handle invoices and bills seamlessly while tracking payments with ease.
          </p>
        </div>
      </div>

      <!-- Warehouse Management -->
      <div class="feature-item">
<img src="~/assets/img2.png" alt="IMAGES" />
        <div>
          <h3>Warehouse Management</h3>
          <p>
            Centrally manage your stock across multiple warehouses and  
            generate detailed reports specific to each warehouse.
          </p>
        </div>
      </div>
      </div>
      
      <div class="second_row">
         <div class="feature-item">
<img src="~/assets/img3.png" alt="IMAGES" />
        <div>
          <h3>Inventory Tracking</h3>
          <p>
            Meticulously monitor a wide range of inventory items and effortlessly  
            track item movements, transfer products between locations.
          </p>
        </div>
      </div>

      <!-- Reports & Analytics -->
      <div class="feature-item">
      <img src="~/assets/img4.png" alt="IMAGES" />

        <div>
          <h3>Reports & Analytics</h3>
          <p>
            Access a variety of reports and gain insights into inventory aging, vendor  
            payments, sales details.
          </p>
        </div>
      </div>
      </div>
   

    </div>

    <!-- Right Dashboard Mockup -->
    <div class="right-section">
\      <img src="~/assets/img5.png" alt="IMAGES" />
    </div>

  </section>
